# API Keys configuration
# Get your Google AI Studio key: https://aistudio.google.com/
GOOGLE_API_KEY=

# Get your Pinecone API key: https://app.pinecone.io/
PINECONE_API_KEY=
PINECONE_INDEX_NAME=minirag-index
PINECONE_ENV=us-east-1 # or your specific environment

# Get your Cohere API key: https://dashboard.cohere.com/
COHERE_API_KEY=

# App Config
FLASK_ENV=development
DEBUG=True
PORT=5000
